  <div class="fullscreen">
  <h1>Welcome to Lister</h1>
  <h3>your personal checklist</h3>

  <%= link_to "Sign Up", new_user_registration_path, class: "waves-effect waves-light btn" %>
  <%= link_to "Log In", new_user_session_path, class: "waves-effect waves-light btn" %>
  </div>